In [7]:
import pandas as pd
import os
import datetime as dt

In [8]:
def read_and_clean(country, lng_path, area_suffix):
        os.chdir(os.path.join("/Users","ethan","Dev","Thesis Work"))
        # start by iterating and reading in all of the files
        price_data = []
        #os.chdir("../..")
        os.chdir(os.path.join("Data", country, "Price"))
        for file in os.listdir():
                price_data.append(pd.read_csv(file))

        prices = pd.concat(price_data)

        # general clean up
        prices = prices.dropna(subset=["Day-ahead Price [EUR/MWh]"])
        prices = prices[prices["Day-ahead Price [EUR/MWh]"] != "n/e"]
        prices = prices[prices["Day-ahead Price [EUR/MWh]"] != "-"]
        prices["Price"] = prices["Day-ahead Price [EUR/MWh]"].apply(float)
        prices = prices[["MTU (CET/CEST)","Price"]]

        # convert the time range into a start + end time
        prices["Start"] = prices["MTU (CET/CEST)"].apply(lambda x: x.split("-")[0])
        prices["End"] = prices["MTU (CET/CEST)"].apply(lambda x: x.split("-")[1])


        ## READ AND CLEAN LOAD DATA
        # work through the same process for the load data
        load_data = []
        os.chdir(os.path.join("..", "Load"))
        for load_file in os.listdir():
                df = pd.read_csv(load_file)
                load_data.append(df)
        os.chdir(os.path.join("..",".."))
        loads = pd.concat(load_data)

        # special step for Germany due to some quirks of reporting
        if(country == "Germany"):
                loads["Forecast"] = loads["Day-ahead Total Load Forecast [MW] - BZN|DE-AT-LU"].combine_first(loads["Day-ahead Total Load Forecast [MW] - BZN|DE-LU"])
                loads["Actual"] = loads["Actual Total Load [MW] - BZN|DE-AT-LU"].combine_first(loads["Actual Total Load [MW] - BZN|DE-LU"])
        else:
                loads["Forecast"] = loads["Day-ahead Total Load Forecast [MW] - {}".format(area_suffix)]
                loads["Actual"] = loads["Actual Total Load [MW] - {}".format(area_suffix)]
        loads = loads.dropna(subset=["Forecast", "Actual"])
        loads = loads[loads["Actual"] != "n/e"]
        loads = loads[loads["Actual"] != "-"]
        loads["Actual"] = loads["Actual"].apply(float)
        loads["Forecast"] = loads["Forecast"].apply(float)

        loads = loads[["Time (CET/CEST)", "Forecast", "Actual"]]
        # make the time range effective
        loads["Start"] = loads["Time (CET/CEST)"].apply(lambda x: x.split("-")[0])
        loads["End"] = loads["Time (CET/CEST)"].apply(lambda x: x.split("-")[1])

        ## MERGING THE TWO DATASETS
        # merge the two sets of data
        elec_merged = pd.merge(left = prices, right = loads, on = "Start", how="left")
        elec_merged = elec_merged[["Start", "Price", "Actual", "Forecast"]]
        elec_merged["Date"] = pd.to_datetime(pd.to_datetime(elec_merged["Start"]).dt.date)
        ## READ IN LNG DATA FROM BLOOMBERG
        lng_data = pd.read_excel(lng_path)
        if(country == "Germany"):
                lng_data["Last Price"] = lng_data["Mid Price"]
        # filter columns
        lng_data = lng_data[["Date", "Last Price"]]
        # add the additional day to match up with the day ahead data
        lng_data["Date"] = pd.to_datetime(lng_data["Date"] + dt.timedelta(days=1))
        combined = elec_merged.merge(lng_data, on="Date")
        
        combined.to_csv("./{}/combined_data.csv".format(country))

        return combined

In [9]:
read_and_clean("Spain", "/Users/ethan/Dev/Thesis Work/Data/Bloomberg/SVB Day-Ahead Historical.xlsx", "BZN|ES")

                   Start  Price   Actual  Forecast       Date  Last Price
0      01.01.2017 00:00   58.82  24401.0   24255.0 2017-01-01       24.50
1      01.01.2017 01:00   58.23  23393.0   23326.0 2017-01-01       24.50
2      01.01.2017 02:00   51.95  21909.0   22287.0 2017-01-01       24.50
3      01.01.2017 03:00   47.27  20615.0   21038.0 2017-01-01       24.50
4      01.01.2017 04:00   45.49  19628.0   20079.0 2017-01-01       24.50
...                  ...    ...      ...       ...        ...         ...
59383  30.12.2015 19:00   50.60  31364.0   31359.0 2015-12-30       19.25
59384  30.12.2015 20:00   52.69  31393.0   31472.0 2015-12-30       19.25
59385  30.12.2015 21:00   51.10  30951.0   31481.0 2015-12-30       19.25
59386  30.12.2015 22:00   47.69  29126.0   29732.0 2015-12-30       19.25
59387  30.12.2015 23:00   45.00  26707.0   27081.0 2015-12-30       19.25

[59388 rows x 6 columns]

In [10]:
read_and_clean("Netherlands", "/Users/ethan/Dev/Thesis Work/Data/Bloomberg/TTF Day-Ahead Historical.xlsx", "BZN|NL")

                   Start  Price   Actual  Forecast       Date  Last Price
0      01.01.2017 00:00   42.00  11061.0   11301.0 2017-01-01        20.0
1      01.01.2017 01:00   49.94  10903.0   10774.0 2017-01-01        20.0
2      01.01.2017 02:00   51.95  10503.0   10088.0 2017-01-01        20.0
3      01.01.2017 03:00   40.99  10096.0    9610.0 2017-01-01        20.0
4      01.01.2017 04:00   39.00   9743.0    9414.0 2017-01-01        20.0
...                  ...    ...      ...       ...        ...         ...
53012  31.12.2015 19:00   36.79  12257.0   14404.0 2015-12-31        14.9
53013  31.12.2015 20:00   28.81  11377.0   13696.0 2015-12-31        14.9
53014  31.12.2015 21:00   26.27  10507.0   12816.0 2015-12-31        14.9
53015  31.12.2015 22:00   29.99   9900.0   11794.0 2015-12-31        14.9
53016  31.12.2015 23:00   31.59   9598.0   10898.0 2015-12-31        14.9

[53017 rows x 6 columns]

In [11]:
read_and_clean("Germany", "/Users/Ethan/Dev/Thesis Work/Data/Bloomberg/THE Day-Ahead Historical.xlsx", "BZN|DE")

                   Start  Price   Actual  Forecast       Date  Last Price
0      02.01.2017 00:00   30.54  53537.0   48745.0 2017-02-01       21.75
1      02.01.2017 01:00   28.91  51050.0   47780.0 2017-02-01       21.75
2      02.01.2017 02:00   28.11  49575.0   46353.0 2017-02-01       21.75
3      02.01.2017 03:00   27.89  48941.0   46196.0 2017-02-01       21.75
4      02.01.2017 04:00   27.73  49992.0   46979.0 2017-02-01       21.75
...                  ...    ...      ...       ...        ...         ...
45379  01.10.2015 19:00   61.00  73788.0   70803.0 2015-01-10       19.25
45380  01.10.2015 20:00   55.00  74459.0   70834.0 2015-01-10       19.25
45381  01.10.2015 21:00   44.95  69639.0   65827.0 2015-01-10       19.25
45382  01.10.2015 22:00   39.96  64957.0   61055.0 2015-01-10       19.25
45383  01.10.2015 23:00   30.43  59721.0   55939.0 2015-01-10       19.25

[45384 rows x 6 columns]